<h1>VPN</h1>

<div>
	<form>
		<div class="progress hide">
			<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%"></div>
		</div>

		<div class="form-group">
			<label for="pass">VPN Endpoint</label>
			<select id="endpoint" class="form-control">
				{{#each endpoints}}
				<option value="{{id}}">{{name}}</option>
				{{/each}}
			</select>
		</div>

		<div class="form-group">
			<label for="pass">Certificate Passphrase</label>
			<input type="password" class="form-control" id="password" placeholder="Passphrase">
			<p></p>
			<div class="progress">
				<div id="complexity-bar" class="progress-bar progress-bar-success" role="progressbar"></div>
			</div>
			<p></p>
			<h1 id="complexity" class="pull-right">0%</h1>
		</div>

		<p>
			<button type="submit" class="btn btn-primary btn-lg" disabled="disabled">Download credentials</button>
			<iframe class="hide"></iframe>
		</p>
	</form>
</div>

<script src="/assets/js/app/credentials.js"></script>
